/* Stili per la barra di navigazione */
.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #ff0000;
    overflow: hidden;
}

.navbar li {
    float: left;
    font-family: Georgia, 'Times New Roman', Times, Helvetica, serif;
}

.navbar li.search {
    float: right;
}

.navbar li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, Helvetica, serif;
}

/* Stile per il pulsante di ricerca */
.navbar .search input[type="text"] {
    padding: 8px;
    margin: 4px 0;
    box-sizing: border-box;
}

.navbar .search button {
    padding: 8px 16px;
    margin: 4px 0;
    background-color: #ff0000;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

/* Effetto hover per il pulsante di ricerca */
.navbar .search button:hover {
    background-color: green;
    color: white;
}

/* Stile per il testo al passaggio del mouse */
.navbar li a:hover {
    background-color: green;
    color: white;
}

.hamburger-menu {
    display: none; /* Inizialmente nascosto */
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .navbar li:not(:last-child) {
        display: none; /* Nasconde tutti gli elementi della barra di navigazione tranne l'ultimo (input di ricerca) */
    }

    .navbar li.search {
        display: block; /* Mostra l'input di ricerca */
        float: none;
    }

    .hamburger-menu {
        display: block; /* Mostra l'icona del menu hamburger */
    }
}